.overlay-left {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background: black;
  transition-duration: .45s;
}

.splash-left-enter + .overlay-left,
.splash-left-leave-to + .overlay-left {
  width: 0;
}

.splash-left-enter-active + .overlay-left,
.splash-left-leave-active + .overlay-left {
  width: 100vw;
}

.splash-left-enter-active + .overlay-left {
  transition-timing-function: ease-in;
}

.splash-left-leave-active + .overlay-left {
  transition-timing-function: ease-out;
}

.splash-left-enter-active,
.splash-left-leave-active {
  transition-duration: .45s;
}