.overlay-up-full-enter ~ .overlay-top,
.overlay-up-full-leave-to ~ .overlay-top {
  height: 0;
}

.overlay-up-full-enter-active ~ .overlay-top,
.overlay-up-full-leave-active ~ .overlay-top {
  height: 100vh;
}

.overlay-up-full-enter-active ~ .overlay-top {
  transition-timing-function: ease-in;
}

.overlay-up-full-leave-active ~ .overlay-top {
  top: auto;
  bottom: 0;
  transition-timing-function: ease-out;
}

.overlay-up-full-enter-active,
.overlay-up-full-leave-active {
  transition-duration: .35s;
}