.overlay-up-full-enter ~ .overlay-bottom {
  height: 100vh;
}

.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-leave-active ~ .overlay-bottom {
  height: 100vh;
}

.overlay-up-full-enter-active ~ .overlay-bottom {
  transition-timing-function: ease-in;
}

.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-enter-to ~ .overlay-bottom {
  display: none;
}

.overlay-up-full-enter-to ~ .overlay-top {
  height: 0;
}

.overlay-up-full-leave-active ~ .overlay-top {
  transition-timing-function: ease;
}

.overlay-up-full-enter ~ .overlay-top,
.overlay-up-full-enter-active ~ .overlay-top,
.overlay-up-full-enter-to ~ .overlay-top {
  transition-duration: unset !important;
  height: 100vh;
}

.overlay-up-full-enter-active,
.overlay-up-full-leave-active {
  transition-duration: var(--transition-duration);
}